<!DOCTYPE html>
<html lang="zh-Hans-CN">
<head>
    <meta charset="UTF-8">
    <title>Mapbox栅格预览</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="/static/assets/maplibre-gl-js/v5.0.1/maplibre-gl.css" rel="stylesheet">
    <script src="/static/assets/maplibre-gl-js/v5.0.1/maplibre-gl.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
<div id="map"></div>
<script type="text/javascript">
    function showMap(tileName, result) {
        const hostUrl = `${window.location.protocol}//${window.location.host}`
        const map = new maplibregl.Map({
            container: 'map',
            style: {
                'version': 8,
                'glyphs': `${hostUrl}/api/fonts/{fontstack}/{range}.pbf`,
                'sources': {
                    'raster-tiles': {
                        'scheme': "tms",
                        'type': 'raster',
                        'tiles': [`${hostUrl}/api/tilesets/${tileName}/{z}/{x}/{y}.${result.format}`],
                        'tileSize': 256,
                        "attribution":
                            '<a href="https://github.com/qmjy/mapbox-offline-server">github</a> | &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                    }
                },
                'layers': [
                    {
                        'id': 'simple-tiles',
                        'type': 'raster',
                        'source': 'raster-tiles',
                        'minzoom': 0,
                        'maxzoom': 22,
                    }
                ]
            },
            center: [114.139102, 22.396835],
            zoom: parseInt(result.minzoom ? result.minzoom : "4"),
            hash: true
        });

        map.on('load', () => {
            map.addSource('China', {
                type: 'geojson',
                data: '/static/ChinaProvince.geojson'
            });

            map.addLayer({
                'id': 'ChinaBounds',
                'type': 'line',
                'source': 'China',
                "paint": {
                    "line-color": "hsl(202, 100%, 72%)",
                    "line-opacity": 0.5,
                    "line-width": 3,
                },
            });

            map.addLayer({
                'id': 'Provice',
                'type': 'symbol',
                source: 'China',
                layout: {
                    'text-field': ['get', 'name'],
                    'text-size': 12,
                    "text-allow-overlap": false,
                    "text-offset": [0, 0],
                    "text-anchor": "center",
                    "text-justify": "center",
                    'text-font': ['Arial Unicode MS Regular'],
                },
                paint: {
                    "text-halo-color": "#444444",
                    "text-halo-width": 1,
                    "text-color": '#FFFFFF'
                }
            });

            if (result.center) {
                setTimeout(function () {
                    const center = JSON.parse(result.center);
                    map.flyTo({
                        center: [center[0], center[1]],
                        zoom: center[2],
                        essential: true
                    });
                }, 2000)
            } else {
                console.log("no center set!")
            }
        });

        map.addControl(new maplibregl.NavigationControl())
        map.addControl(new maplibregl.FullscreenControl())
        map.addControl(new maplibregl.ScaleControl())
    }

    function getTilesetName() {
        let url = window.location.href
        if (url.indexOf("#") > 0) {
            url = url.split("#")[0];
        }
        let strings = url.split("/");
        return strings[strings.length - 1]
    }

    window.addEventListener("load", function () {
        const tilesetName = getTilesetName();
        document.title = `Mapbox栅格预览-${tilesetName}`;
        fetch(`/api/tilesets/${tilesetName}/tiles.json`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                showMap(tilesetName, data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>
</body>

</html>