<!DOCTYPE html>
<html lang="zh-Hans-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title><th:block th:text="${tilesetName}" />Mapbox预览</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="/static/assets/mapbox-gl-js/v1.13.3/mapbox-gl.min.css" rel="stylesheet">
    <script src="/static/assets/mapbox-gl-js/v1.13.3/mapbox-gl.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
<div id="map"></div>
<script th:inline="javascript">
    const metaData = /*[[${metaData}]]*/{};
    var basePath = [[${basePath}]];
    var tiles = basePath + "/api/tilesets/" + [[${tilesetName}]] + "/{z}/{x}/{y}." + metaData.format

    var map = new mapboxgl.Map({
        container: 'map',
        attributionControl: false,
        style: {
            "version": 8,
            "name": "Mapbox",
            "sprite": basePath + "/static/sprites/streets/sprite",
            "glyphs": basePath + "/api/fonts/{fontstack}/{range}.pbf",
            "sources": {
                "osm-tiles": {
                    "scheme":"tms",
                    "type": "vector",
                    "tiles": [tiles],
                    "bounds": metaData.bounds.split(",").map(Number),
                    "minzoom": parseInt(metaData.minzoom),
                    "maxzoom": parseInt(metaData.maxzoom),
                    'attribution':
                        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }
            },
            "layers": [
                {
                    "id": "background",
                    "type": "background",
                    "layout": {
                        "visibility": "visible"
                    },
                    "paint": {
                        "background-color": "#00263D"
                    }
                },
                {
                    "id": "landuse",
                    "type": "fill",
                    "source": "osm-tiles",
                    "source-layer": "landuse",
                    "paint": {
                        "fill-color": "#444444"
                    }
                },
                {
                    "id": "landcover",
                    "type": "fill",
                    "source": "osm-tiles",
                    "source-layer": "landcover",
                    "paint": {
                        "fill-color": "#43ad7f",
                        "fill-opacity": 0.3
                    }
                },
                {
                    "id": "water",
                    "type": "fill",
                    "source": "osm-tiles",
                    "source-layer": "water",
                    "paint": {
                        "fill-color": "#015179"
                    }
                },
                {
                    "id": "building",
                    "type": "fill",
                    "source": "osm-tiles",
                    "source-layer": "building",
                    "paint": {
                        "fill-color": "#05A2F0"
                    }
                },
                {
                    "id": "building-extrusion",
                    "type": "fill-extrusion",
                    "source": "osm-tiles",
                    "source-layer": "building",
                    "minzoom": 15,
                    "paint": {
                        "fill-extrusion-color": [
                            "interpolate",
                            [
                                "linear"
                            ],
                            [
                                "zoom"
                            ],
                            8,
                            "#05A2F0",
                            22,
                            "#077fbb"
                        ],
                        "fill-extrusion-height": [
                            "interpolate",
                            [
                                "linear"
                            ],
                            [
                                "zoom"
                            ],
                            15,
                            0,
                            16,
                            [
                                "get",
                                "render_height"
                            ]
                        ],
                        "fill-extrusion-base": [
                            "case",
                            [
                                ">=",
                                [
                                    "get",
                                    "zoom"
                                ],
                                16
                            ],
                            [
                                "get",
                                "render_min_height"
                            ],
                            0
                        ]
                    }
                },
                {
                    "id": "transportation_name",
                    "type": "line",
                    "source": "osm-tiles",
                    "source-layer": "transportation_name"
                },
                {
                    "id": "transportation",
                    "type": "line",
                    "source": "osm-tiles",
                    "source-layer": "transportation",
                    "paint": {
                        "line-color": "#06789D",
                        "line-opacity": 1,
                        "line-width": 1
                    }
                },
                {
                    "id": "place",
                    "type": "symbol",
                    "source": "osm-tiles",
                    "source-layer": "place",
                    "layout": {
                        "text-field": [
                            "get",
                            "name"
                        ],
                        "text-size": 12,
                        "text-allow-overlap": false,
                        "text-offset": [
                            0,
                            0
                        ],
                        "text-anchor": "center",
                        "text-justify": "center",
                        "text-font": [
                            "Arial Unicode MS Regular"
                        ]
                    },
                    "paint": {
                        "text-halo-color": "#444444",
                        "text-halo-width": 1,
                        "text-color": "#FFFFFF"
                    }
                },
                {
                    "id": "poi",
                    "type": "symbol",
                    "source": "osm-tiles",
                    "source-layer": "poi",
                    "layout": {
                        "text-field": [
                            "get",
                            "name"
                        ],
                        "text-size": 12,
                        "text-offset": [0,1],
                        "text-allow-overlap": false,
                        "text-anchor": "center",
                        "text-justify": "center",
                        "text-font": [
                            "Arial Unicode MS Regular"
                        ],
                        'icon-image': [
                            "match",
                            ['get','subclass'],
                            "school","school-11",
                            "hospital", "hospital-11",
                            "parking", "park-11",
                            "toilets", "toilet-11",
                            "library", "library-11",
                            "fuel", "fuel 11",
                            "college", "college-11",
                            "swimming_pool", "swimming-11",
                            "cafe", "cafe-11",
                            "tea", "cafe-11",
                            "museum", "museum-11",
                            "hotel", "lodging-11",
                            "university", "suitcase-11",
                            "arts_centre", "art-gallery-11",
                            "gallery", "art-gallery-11",
                            "artwork", "art-gallery-11",
                            "marketplace", "grocery-11",
                            "fire_station", "fire-station-11",
                            "cinema", "cinema-11",
                            "police", "police-11",
                            "bank", "bank-11",
                            "bus_station", "bus-11",
                            "post_office", "post-11",
                            "restaurant", "restaurant-11",
                            "theatre", "theatre-11",
                            "attraction", "attraction-11",
                            "place_of_worship", "place-of-worship-11",
                            ""
                        ],
                        "icon-size": 1.2,
                        "icon-offset": [0, -10],
                        "icon-allow-overlap": true,
                    },
                    "paint": {
                        "text-halo-color": "#444444",
                        "text-halo-width": 1,
                        "text-color": "#FFFFFF"
                    }
                }
            ]
                },
                center: [110,30],
                zoom: 3,
                hash: true
            })

    map.on('load', () => {
        map.addSource('China', {
            type: 'geojson',
            data: '/static/ChinaProvince.geojson'
        });

        map.addLayer({
            'id': 'ChinaBounds',
            'type': 'line',
            'source': 'China',
            "paint": {
              "line-color": "#70CBFF",
              "line-opacity": 0.5,
              "line-width": 3,
            },
        });

        map.addLayer({
            'id': 'Provice',
            'type': 'symbol',
            source: 'China',
            layout: {
                'text-field': ['get', 'name'],
                'text-size': 12,
                "text-allow-overlap": false,
                "text-offset": [0, 0],
                "text-anchor": "center",
                "text-justify": "center",
                'text-font': ['Arial Unicode MS Regular'],
            },
            paint: {
                "text-halo-color": "#444444",
		        "text-halo-width": 1,
                "text-color": '#FFFFFF'
            }
        });

        if(metaData.center){
            setTimeout(function(){
                var center = metaData.center.split(",")
                map.flyTo({
                    center: [center[0], center[1]],
                    zoom: center[2],
                    essential: true
                });
            }, 2000 )
        }else{
            console.log("no center set!")
        }
    });

    map.addControl(new mapboxgl.NavigationControl())
    map.addControl(new mapboxgl.FullscreenControl())
    map.addControl(new mapboxgl.ScaleControl())
</script>
</body>

</html>