<!DOCTYPE html>
<html lang="zh-Hans-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title><th:block th:text="${tilesetName}" />Mapbox预览</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="/static/assets/mapbox-gl-js/v1.13.3/mapbox-gl.min.css" rel="stylesheet">
    <script src="/static/assets/mapbox-gl-js/v1.13.3/mapbox-gl.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
<div id="map"></div>
<script th:inline="javascript">
    const metaData = [[${metaData}]];
    const basePath = [[${basePath}]];
    const tiles = basePath + "/api/tilesets/" + [[${tilesetName}]] + "/{z}/{x}/{y}." + metaData.format;

    const map = new mapboxgl.Map({
        container: 'map',
        attributionControl: false,
        style: {
            "version": 8,
            "name": "Mapbox",
            "sprite": basePath + "/static/sprites/streets/sprite",
            "glyphs": basePath + "/api/fonts/{fontstack}/{range}.pbf",
            "sources": {
                "osm-tiles": {
                    "scheme": "tms",
                    "type": "vector",
                    "tiles": [tiles],
                    "bounds": metaData.bounds.split(",").map(Number),
                    "minzoom": parseInt(metaData.minzoom),
                    "maxzoom": parseInt(metaData.maxzoom),
                    'attribution':
                        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }
            },
            "layers": []
        },
        center: [110, 30],
        zoom: 3,
        hash: true
    });

    function addAdminBoundary(){
        map.addSource('China', {
            type: 'geojson',
            data: '/static/ChinaProvince.geojson'
        });

        map.addLayer({
            'id': 'ChinaBounds',
            'type': 'line',
            'source': 'China',
            "paint": {
                "line-color": "#70CBFF",
                "line-opacity": 0.5,
                "line-width": 3,
            },
        });

        map.addLayer({
            'id': 'Provice',
            'type': 'symbol',
            source: 'China',
            layout: {
                'text-field': ['get', 'name'],
                'text-size': 12,
                "text-allow-overlap": false,
                "text-offset": [0, 0],
                "text-anchor": "center",
                "text-justify": "center",
                'text-font': ['Arial Unicode MS Regular'],
            },
            paint: {
                "text-halo-color": "#444444",
                "text-halo-width": 1,
                "text-color": '#FFFFFF'
            }
        });
    }

    function addLayers(){
        //https://versatiles.org/overview.html
        if (metaData.name === "Shortbread") {
            const request = new XMLHttpRequest();
            request.open("get", "/static/styles/VersaTiles.json");
            request.send(null);
            request.onload = function () {
                if (request.status === 200) {
                    const layers = JSON.parse(request.responseText);
                    layers.forEach(function (layer) {
                        map.addLayer(layer);
                    })
                }
            }
        } else if (metaData.name === "OpenMapTiles") {
            const request = new XMLHttpRequest();
            request.open("get", "/static/styles/blue.json");
            request.send(null);
            request.onload = function () {
                if (request.status === 200) {
                    const layers = JSON.parse(request.responseText);
                    layers.forEach(function (layer) {
                        map.addLayer(layer);
                    })
                }
            }
        } else {
           console.log("未识别的mbtiles文件！")
        }
    }

    map.on('load', () => {
        addAdminBoundary()
        addLayers()

        if (metaData.center) {
            setTimeout(function () {
                var center = metaData.center.split(",")
                map.flyTo({
                    center: [center[0], center[1]],
                    zoom: center[2],
                    essential: true
                });
            }, 2000)
        } else {
            console.log("no center set!")
        }
    });

    map.addControl(new mapboxgl.NavigationControl())
    map.addControl(new mapboxgl.FullscreenControl())
    map.addControl(new mapboxgl.ScaleControl())
</script>
</body>

</html>