<!DOCTYPE html>
<html lang="zh-Hans-CN">
<head>
    <meta charset="UTF-8">
    <title>Openlayers栅格预览</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="/static/assets/openlayers/v9.2.4/ol.css" rel="stylesheet">
    <script src="/static/assets/openlayers/v9.2.4/ol.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
<div id="map"></div>
<script>

    function showMap(tileName, result) {
        const hostUrl = `${window.location.protocol}//${window.location.host}`
        const center = JSON.parse(result.center);

        const map = new ol.Map({
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.XYZ({
                        url: `${hostUrl}/api/tilesets/${tileName}/{z}/{x}/{-y}.${result.format}`
                    })
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([center[0], center[1]]),
                zoom: center[2],
                projection: 'EPSG:3857'
            }),
            target: 'map'
        });
    }

    // var styleFunction = function(feature) {
    //     return new ol.style.Style({
    //         stroke: new ol.style.Stroke({
    //             color: feature.get('stroke'),//通过要素拿到具体的值
    //             width: 2,
    //             opacity: 1
    //         }),
    //         fill: new ol.style.Fill({
    //             color: "blue",
    //             opacity: feature.get('fill-opacity')
    //         }),
    //         text: new ol.style.Text({
    //             text: feature.get('name'),
    //             font: '12px bold serif',
    //             fill: new ol.style.Fill({
    //                 color: '#000'
    //             }),
    //             stroke: new ol.style.Stroke({
    //                 color: '#fff',
    //                 width: 2
    //             })
    //         })
    //     })
    // };
    //
    // let lineLayer = new ol.layer.Vector({
    //     title: 'add Layer',
    //     source: new ol.source.Vector({
    //         projection: 'EPSG:4326',
    //         url: "/static/China.json", //GeoJSON的文件路径，用户可以根据需求而改变
    //         format: new ol.format.GeoJSON()
    //     }),
    //     style: styleFunction
    // })
    // map.addLayer(lineLayer);

    function getTilesetName() {
        let url = window.location.href
        if (url.indexOf("#") > 0) {
            url = url.split("#")[0];
        }
        let strings = url.split("/");
        return strings[strings.length - 1]
    }

    window.addEventListener("load", function () {
        const tilesetName = getTilesetName();
        document.title = `Openlayers栅格预览-${tilesetName}`;
        fetch(`/api/tilesets/${tilesetName}/tiles.json`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                showMap(tilesetName, data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>
</body>

</html>